<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Generated successfully</title>
    <link href="https://bootswatch.com/4/cyborg/bootstrap.min.css" rel="stylesheet">
    <style>
    @import url('https://fonts.googleapis.com/css?family=Roboto');
    body{
       font-family: 'Roboto';
       font-size:30px;
    }
    </style>
</head>
<body>
    <div class="container"> 
        <h1 class="display-1 text-center text-success">
            Page successfully generated
        </h1>
        <div class="text-center">
            <br>
            <br><br>
        <a href="/{{company_name}}" class="btn btn-primary btn-lg mx-auto font-weight-bold">Click here to view the page</a>
        </div>        
    </div>
</body>
</html>